VoiceOverIP.Web/Service References/SubscriptionService/SubscriptionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SubscriptionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56889/SubscriptionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56889/SubscriptionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56889/SubscriptionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VoiceoverIP.Services.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISubscriptionService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionService_Put_InputMessage">
    <wsdl:part name="parameters" element="tns:Put" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionService_Put_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutResponse" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ISubscriptionService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionService/Create" message="tns:ISubscriptionService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionService/CreateResponse" message="tns:ISubscriptionService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Put">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionService/Put" message="tns:ISubscriptionService_Put_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionService/PutResponse" message="tns:ISubscriptionService_Put_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionService/Delete" message="tns:ISubscriptionService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionService/DeleteResponse" message="tns:ISubscriptionService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionService/Get" message="tns:ISubscriptionService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionService/GetResponse" message="tns:ISubscriptionService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionService/GetById" message="tns:ISubscriptionService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionService/GetByIdResponse" message="tns:ISubscriptionService_GetById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISubscriptionService" type="tns:ISubscriptionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Put">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionService/Put" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionService/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubscriptionService">
    <wsdl:port name="BasicHttpBinding_ISubscriptionService" binding="tns:BasicHttpBinding_ISubscriptionService">
      <soap:address location="http://localhost:56889/SubscriptionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>