VoiceOverIP.Web/Service References/SubscriptionService/SubscriptionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VoiceoverIP.Services.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VoiceoverIP.Services.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Subscription">
    <xs:sequence>
      <xs:element minOccurs="0" name="CallMinutes" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="PriceIncVatAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Subscription" nillable="true" type="tns:Subscription" />
  <xs:complexType name="ArrayOfSubscription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Subscription" nillable="true" type="tns:Subscription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubscription" nillable="true" type="tns:ArrayOfSubscription" />
</xs:schema>